@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
box-sizing: border-box;
}
body {
    background-color: rgb(252, 131, 147);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    cursor: pointer;

}

.btn:hover {
    opacity: 0.8;
}

.btn {
    background-color: rgb(228, 221, 221);
    border-radius: 5px;
    border: none;
    color: rgb(0, 55, 255);
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}